
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-pin:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-spoon:before { content: '\f1b1'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
